<div class="card mb-4">
    <a href="https://www.foxnews.com/category/entertainment/celebrity-news{{url}}" target="_blank">
        <h5 class="card-header h5">{{title}}</h5>
    </a>
    <div class="card-body">
        <p class="card-text black-text">{{summary}}</p>
        <a class="btn btn-md btn-default save" data-id="{{_id}}">Save Article</a>
    </div>
</div>