<div class="card mb-4" data-id="{{_id}}">
    <a href="https://www.foxnews.com/category/entertainment/celebrity-news{{url}}" target="_blank">
        <h5 class="card-header h5">{{title}}</h5>
    </a>
    <div class="card-body">
        <p class="card-text black-text">{{summary}}</p>
        <a class="btn btn-md btn-default delete">Delete From Saved</a>
        <a class="btn btn-md btn-default comments">Article Comments</a>
    </div>
</div>